#### Project 
#### in marketing, market segmentation is the process of dividing a board
#### consumer or business market, normally consisting of existing and 
#### potential customers, into sub-groups of consumers(known as segments)
#### based on some type of shared characteristics. customer segmentation
#### is one of the most important applications of unsupervised learning
#### using clustering techniques, companies can identify the several 
#### segments of customers allowing them to target the potential user base
#### objective of this project is to group the customers into an optimal 
#### number of clusters with similar characteristics
----------------------------------------------------
* **what to do in this project**
    * perform data exploration 
    * perform data transformation 
    * perform data modelling using k-means algorithm 
    * perform elbow method to identify the optimal number of clusters 
    * perform data modelling using multiple clustering algorithms 
    * perform comparison of different ML algorithms and choose the best clustering algorithm

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
# describe the data 
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [6]:
# getting the valuable information about the data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [7]:
# checking the null values 
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [8]:
# exploratory data analysis 
# dividing the dataset into male and female 
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [11]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [ ]:
# male population

In [17]:
df_male = df[df.Gender == 'Male']
del df_male['CustomerID']
df_male.to_csv('Male_data.csv',index = False)

In [ ]:
# female population

In [18]:
df_female = df[df.Gender == 'Female']
del df_female['CustomerID']
df_female.to_csv('female_data.csv',index = False)