# University management

## Student details

In [6]:
student_details = {45551255 : {'first_name'     : 'Rahul' , # registration as key and details of students as value  
                              'last_name'      : 'Wadwani' ,
                              'contact_number' : 9898979799,
                              'email'          : 'rahulwadwani@gmail.com',
                              'degree'         : 'B.Tech',
                              'batch'          : '2019-2023'},
                   45551256 : {'first_name'     : 'Suraj' ,
                              'last_name'      : 'Thakur' ,
                              'contact_number' : 9898979745,
                              'email'          : 'surajthakur@gmail.com',
                              'degree'         : 'B.Tech',
                              'batch'          : '2019-2023'},
                   45551257 : {'first_name'     : 'Suraj ' ,
                               'last_name'      : 'Shewale' ,
                               'contact_number' : 9898979756,
                               'email'          : 'surajshewale@gmail.com',
                               'degree'         : 'B.Tech',
                               'batch'          : '2019-2023'},
                   45551258 : {'first_name'     : 'Yogesh' ,
                               'last_name'      : 'Patil' ,
                               'contact_number' : 9898979787,
                               'email'          : 'yogeshpatil@gmail.com',
                               'degree'         : 'B.Tech',                   
                               'batch'          : '2019-2023'}}

## Displaying the student details and accessing the entire details about the students data

In [8]:
#for i in student_details :
#   print(student_details[i])#this will return you the value of entire details of a particular student 
j = input("what do you want ")
for i in student_details :
    if j.lower() == 'first_name' or 'last_name' or 'contact_number' or 'email' or 'degree' or 'batch':
        print(student_details[i][j])#this will give you the first name of all the students in an 
    else :
        print('invalid input ') # for other inputs

what do you want last_name
Wadwani
Thakur
Shewale
Patil

## Adding new student details

In [9]:
def add_student():
    #inputing the values from the user
    registration_no = int(input("Enter your Registration number : "))
    firstname = str(input("Enter your first name:"))
    lastname = str(input("Enter your last name :"))
    contactnumber = int(input ("Enter your parents mobile number:"))
    email = str(input("Enter your email:"))
    degree = str(input("Enter your current pursuing degree :"))
    batch = str(input("Enter your batch :"))
    
    #creating dictionary and inputing the values to the main dictionary
    student = {}
    student['first_name'] = firstname
    student['last_name'] = lastname
    student['contact_number'] = contactnumber
    student['email'] = email
    student['degree'] = degree
    student['batch'] = batch
    student_details[registration_no] = student 

add_student()

Enter your Registration number : 45551259
Enter your first name:Ramesh
Enter your last name :Roshan
Enter your parents mobile number:8754123265
Enter your email:ramesh@gmail.com
Enter your current pursuing degree :B.Tech
Enter your batch :2023

# Displaying the details of all students

In [11]:
def show_details():
    for details in student_details:
        print('Full Name      : ',student_details[details]['first_name'] + ' ' +student_details[details]['last_name'])
        print('Phone Number   : ',student_details[details]['contact_number'])
        print('Email Address  : ',student_details[details]['email'])
        print('Degree         : ',student_details[details]['degree'])
        print('Batch          : ',student_details[details]['batch'])
        print('-'*50)

In [13]:
show_details()

Full Name      :  Rahul Wadwani
Phone Number   :  9898979799
Email Address  :  rahulwadwani@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------
Full Name      :  Suraj Thakur
Phone Number   :  9898979745
Email Address  :  surajthakur@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------
Full Name      :  Suraj  Shewale
Phone Number   :  9898979756
Email Address  :  surajshewale@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------
Full Name      :  Yogesh Patil
Phone Number   :  9898979787
Email Address  :  yogeshpatil@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------
Full Name      :  Ramesh Roshan
Phone Number   :  8754123265
Email Address  :  ramesh@gmail.com
Degree         :  B.Tech
Batch          :  2023
--------------------------------------------------

In [18]:
# student enrolment id

In [19]:
student_details.keys()

dict_keys([45551255, 45551256, 45551257, 45551258, 45551259])

# Changing the values of any students

In [55]:
def change_details(reg_number,changes,to):
    reg = reg_number
    if reg in student_details.keys():
        chg = changes
        if chg in student_details[reg].keys():
            new = to
            student_details[reg][chg] = new
    return 'Details Saved !'

In [58]:
change_details(45551255,'first_name', 'Ramesh')

'Details Saved !'

# Searching based on Registration

In [20]:
Reg_no = int(input('enter your Registration no.:-'))
print('-' * 50)
print('Name     : ',student_details[Reg_no]['first_name']+' '+student_details[Reg_no]['last_name'])
print('Phone    : ',student_details[Reg_no]['contact_number'])
print('Email    : ',student_details[Reg_no]['email'])
print('Degree   : ',student_details[Reg_no]['degree'])
print('-' * 50)

enter your Registration no.:-45551255
--------------------------------------------------
Name     :  Rahul Wadwani
Phone    :  9898979799
Email    :  rahulwadwani@gmail.com
Degree   :  B.Tech
--------------------------------------------------

# Searching based on First Name (sufficient data)

In [21]:
Name = str(input('Enter the First name : '))
print('-'*50)
for names_ in student_details:
    if (Name.lower() == student_details[names_]['first_name'].lower()):
        print('Full Name      : ',student_details[names_]['first_name'] + ' ' +student_details[names_]['last_name'])
        print('Phone Number   : ',student_details[names_]['contact_number'])
        print('Email Address  : ',student_details[names_]['email'])
        print('Degree         : ',student_details[names_]['degree'])
        print('Batch          : ',student_details[names_]['batch'])
        print('-'*50)

Enter the First name : Suraj
--------------------------------------------------
Full Name      :  Suraj Thakur
Phone Number   :  9898979745
Email Address  :  surajthakur@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------

# Searching based on First Name (insufficient data)

In [23]:
Name = str(input('Enter the First name : '))
print('-'*50)
for names_ in student_details:
    if (Name.lower() in student_details[names_]['first_name'].lower()):
        print('Full Name      : ',student_details[names_]['first_name'] + ' ' +student_details[names_]['last_name'])
        print('Phone Number   : ',student_details[names_]['contact_number'])
        print('Email Address  : ',student_details[names_]['email'])
        print('Degree         : ',student_details[names_]['degree'])
        print('Batch          : ',student_details[names_]['batch'])
        print('-'*50)

Enter the First name : S
--------------------------------------------------
Full Name      :  Suraj Thakur
Phone Number   :  9898979745
Email Address  :  surajthakur@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------
Full Name      :  Suraj  Shewale
Phone Number   :  9898979756
Email Address  :  surajshewale@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------
Full Name      :  Yogesh Patil
Phone Number   :  9898979787
Email Address  :  yogeshpatil@gmail.com
Degree         :  B.Tech
Batch          :  2019-2023
--------------------------------------------------
Full Name      :  Ramesh Roshan
Phone Number   :  8754123265
Email Address  :  ramesh@gmail.com
Degree         :  B.Tech
Batch          :  2023
--------------------------------------------------

# Creating dictionary of Faculty

In [8]:
# creating a faculty dictionary with name , age , department , specialisation and class 
teach = {12345:{  'name'   :  'Suresh',
                  'age'    :  '42',
                  'dept'   :  'EXTC',
                  'sp'     :  'Digital Electronics',
                  'class'  :  'A'
               },
        12346:{   'name'   :  'Ramesh',
                  'age'    :  '45',
                  'dept'   :  'EXTC',
                  'sp'     :  'Analog Electronics',
                  'class'  :  'B'
              },
        12347:{   'name'   :  'Jignesh',
                  'age'    :  '43',
                  'dept'   :  'EXTC',
                  'sp'     :  'VLSI Design ',
                  'class'  :  'A'
              }
        }

## Displaying all Faculty details

In [60]:
print('-'*50)
for i in teach:
    print('Faculty Name        : ',teach[i]['name'])
    print('Faculty Age         : ',teach[i]['age'])
    print('Faculty Department  : ',teach[i]['dept'])
    print('Faculty Expertise   : ',teach[i]['sp'])
    print('Division Allotted   : ',teach[i]['class'])
    print('-'*50)

--------------------------------------------------
Faculty Name        :  Suresh
Faculty Age         :  42
Faculty Department  :  EXTC
Faculty Expertise   :  Digital Electronics
Division Allotted   :  A
--------------------------------------------------
Faculty Name        :  Ramesh
Faculty Age         :  45
Faculty Department  :  EXTC
Faculty Expertise   :  Analog Electronics
Division Allotted   :  B
--------------------------------------------------
Faculty Name        :  Jignesh
Faculty Age         :  43
Faculty Department  :  EXTC
Faculty Expertise   :  VLSI Design
Division Allotted   :  A
--------------------------------------------------
Faculty Name        :  Rajesh
Faculty Age         :  45
Faculty Department  :  EXTC
Faculty Expertise   :  VLSI
Division Allotted   :  A
--------------------------------------------------

##  Generating a new faculty id

In [61]:
def generate_id(teach):
    teacher_id = []
    for i in teach:
        teacher_id.append(i)
    new_id = teacher_id[len(teacher_id)-1] + 1
    return new_id

In [62]:
generate_id(teach)

12349

## Adding a new faculty into the Dictionary

In [63]:
import random 
name  = input('Enter your Name        : ')
age   = input('Enter your Age         : ')
dept  = input('Enter your Department  : ')
sp    = input('Enter your Expertise   : ')
class_ = chr(random.randint(65,66))
id1 = generate_id(teach)

dct1 = {}
dct1['name'] = name
dct1['age'] = age
dct1['dept'] = dept
dct1['sp'] = sp
dct1['class'] = class_

teach[id1] = dct1

Enter your Name        : Ashish
Enter your Age         : 56
Enter your Department  : EXTC
Enter your Expertise   : Machine Learning

In [64]:
# Displaying the newly hired teacher 
print('-'*50)
for i in teach:
    print('Faculty Name        : ',teach[i]['name'])
    print('Faculty Age         : ',teach[i]['age'])
    print('Faculty Department  : ',teach[i]['dept'])
    print('Faculty Expertise   : ',teach[i]['sp'])
    print('Division Allotted   : ',teach[i]['class'])
    print('-'*50)

--------------------------------------------------
Faculty Name        :  Suresh
Faculty Age         :  42
Faculty Department  :  EXTC
Faculty Expertise   :  Digital Electronics
Division Allotted   :  A
--------------------------------------------------
Faculty Name        :  Ramesh
Faculty Age         :  45
Faculty Department  :  EXTC
Faculty Expertise   :  Analog Electronics
Division Allotted   :  B
--------------------------------------------------
Faculty Name        :  Jignesh
Faculty Age         :  43
Faculty Department  :  EXTC
Faculty Expertise   :  VLSI Design
Division Allotted   :  A
--------------------------------------------------
Faculty Name        :  Rajesh
Faculty Age         :  45
Faculty Department  :  EXTC
Faculty Expertise   :  VLSI
Division Allotted   :  A
--------------------------------------------------
Faculty Name        :  Ashish
Faculty Age         :  56
Faculty Department  :  EXTC
Faculty Expertise   :  Machine Learning
Division Allotted   :  A
--------------------------------------------------

# Searching based on name

In [65]:
names = str(input('Search Faculty name : '))
for i in teach:
    if names.lower()  == teach[i]['name'].lower():
        print('-'*50)
        print('Name Of Faculty : ',teach[i]['name'])
        print('Department      : ',teach[i]['dept'])
        print('Expertise       : ',teach[i]['sp'])
        print('Division        : ',teach[i]['class'])
        print('-'*50)

Search Faculty name : Ashish
--------------------------------------------------
Name Of Faculty :  Ashish
Department      :  EXTC
Expertise       :  Machine Learning
Division        :  A
--------------------------------------------------

# Searching based on name due insufficient data

In [66]:
names = str(input('Search Faculty name : '))
for i in teach:
    if names.lower() in teach[i]['name'].lower():
        print('-'*50)
        print('Name Of Faculty : ',teach[i]['name'])
        print('Department      : ',teach[i]['dept'])
        print('Expertise       : ',teach[i]['sp'])
        print('Division        : ',teach[i]['class'])
        print('-'*50)

Search Faculty name : a
--------------------------------------------------
Name Of Faculty :  Ramesh
Department      :  EXTC
Expertise       :  Analog Electronics
Division        :  B
--------------------------------------------------
--------------------------------------------------
Name Of Faculty :  Rajesh
Department      :  EXTC
Expertise       :  VLSI
Division        :  A
--------------------------------------------------
--------------------------------------------------
Name Of Faculty :  Ashish
Department      :  EXTC
Expertise       :  Machine Learning
Division        :  A
--------------------------------------------------

# Creating HOD Dictionary

In [68]:
hods = {21345:{
                'name'     :  'Prakash',
                'age'      :  '60',
                'dept'     :  'EXTC',
                'teachers' :  []
              }
       }

# adding the key of each teacher in hod teachers list

In [69]:
for i in teach:
    for j in hods:
        hods[j]['teachers'].append(i)

In [70]:
for j in hods:
    print(hod[j]['teachers'])

[12345, 12346, 12347, 12348]

# Generating Hod id

In [71]:
def generate_ids(hods):
    hod_id = []
    for j in hods:
        hod_id.append(j)
    new_id1 = hod_id[len(hod_id)-1] + 1
    print(hod_id)
    return new_id1

In [72]:
generate_ids(hods)

[21345]

21346

# Adding new Hod of Different department

In [78]:
# adding new hod of different department 

name  = input('Enter your Name        : ')
age   = input('Enter your Age         : ')
dept  = input('Enter your Department  : ')
teachers = []
id2 = generate_ids(hods)

#creating new dict and input values 
dct2 = {}
dct2['name'] = name
dct2['age'] = age
dct2['dept'] = dept
dct2['teachers'] = teachers

# adding the new values into the hod dictionary
hod[id2] = dct2

Enter your Name        : Rajesk
Enter your Age         : 68
Enter your Department  : EXTC
[21345]

# Fetching the teachers data using hod dictionary

In [108]:
for k in hods:
    lst = hods[k]['teachers']
print('-'*50)
for prof_id in lst:
    if (prof_id in teach):
        print('Name :',teach[prof_id]['name'])
        print('Age :',teach[prof_id]['age'])
        print('Department :',teach[prof_id]['dept'])
        print('Specialisation :',teach[prof_id]['sp'])
        print('Class :',teach[prof_id]['class'])
        print('-'*50)

--------------------------------------------------
Name : Suresh
Age : 42
Department : EXTC
Specialisation : Digital Electronics
Class : A
--------------------------------------------------
Name : Ramesh
Age : 45
Department : EXTC
Specialisation : Analog Electronics
Class : B
--------------------------------------------------
Name : Jignesh
Age : 43
Department : EXTC
Specialisation : VLSI Design
Class : A
--------------------------------------------------
Name : Rajesh
Age : 45
Department : EXTC
Specialisation : VLSI
Class : A
--------------------------------------------------
Name : Ashish
Age : 56
Department : EXTC
Specialisation : Machine Learning
Class : A
--------------------------------------------------