# Importing libraries

In [2]:
import pandas as pd

# Importing the dataset

In [3]:
df = pd.read_csv('country_vaccinations.csv')
df.head(2)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

# Dealing the null values

In [4]:
df.isnull().sum()

country                                    0
iso_code                                   0
date                                       0
total_vaccinations                     42905
people_vaccinated                      45218
people_fully_vaccinated                47710
daily_vaccinations_raw                 51150
daily_vaccinations                       299
total_vaccinations_per_hundred         42905
people_vaccinated_per_hundred          45218
people_fully_vaccinated_per_hundred    47710
daily_vaccinations_per_million           299
vaccines                                   0
source_name                                0
source_website                             0
dtype: int64

In [5]:
df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,4.360700e+04,4.129400e+04,3.880200e+04,3.536200e+04,8.621300e+04,43607.000000,41294.000000,38802.000000,86213.000000
mean,4.592964e+07,1.770508e+07,1.413830e+07,2.705996e+05,1.313055e+05,80.188543,40.927317,35.523243,3257.049157
std,2.246004e+08,7.078731e+07,5.713920e+07,1.212427e+06,7.682388e+05,67.913577,29.290759,28.376252,3934.312440
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,5.264100e+05,3.494642e+05,2.439622e+05,4.668000e+03,9.000000e+02,16.050000,11.370000,7.020000,636.000000
50%,3.590096e+06,2.187310e+06,1.722140e+06,2.530900e+04,7.343000e+03,67.520000,41.435000,31.750000,2050.000000
75%,1.701230e+07,9.152520e+06,7.559870e+06,1.234925e+05,4.409800e+04,132.735000,67.910000,62.080000,4682.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

# filling the null values with 0

In [6]:
df = df.fillna(0)

In [7]:
df.isna().sum()

country                                0
iso_code                               0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
daily_vaccinations_per_million         0
vaccines                               0
source_name                            0
source_website                         0
dtype: int64

In [8]:
df.head(2)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

# 1) Which Country is having least total Vaccinations?

### 1.1. approach 1 using grouby function

In [9]:
df_ = pd.DataFrame(df.groupby('country')['total_vaccinations'].sum(),columns =['total_vaccinations'])

In [10]:
df_[df_['total_vaccinations'] == min(df_['total_vaccinations'])]

          total_vaccinations
country
Pitcairn               348.0

### 1.2. approach 2 : using array data structure and data frames

In [35]:
countries = [] 
for i in df.values:
    countries.append(i[0])
countries = list(set(countries))


data = []
for country in countries:   
    c = 0
    for i in df.values:
        if i[0] == country :
            c += (i[3])
    data.append([country, c])
    
    
df_1 = pd.DataFrame(data,columns = ['country','total_vaccinations'])
df_1.sort_values(by='total_vaccinations',ascending = True).head(1)

      country  total_vaccinations
171  Pitcairn               348.0

# 2) Which Country is having the most total Vaccinations?

### 2.1) most total vaccinations

In [55]:
df_2 = pd.DataFrame(df.groupby('country')['total_vaccinations'].sum(),columns =['total_vaccinations'])

In [56]:
df_2[df_2['total_vaccinations'] == max(df_2['total_vaccinations'])]

         total_vaccinations
country
China          7.094527e+11

### 2.2) using array and dataframe

In [36]:
countries = [] 
for i in df.values:
    countries.append(i[0])
countries = list(set(countries))


data = []
for country in countries:   
    c = 0
    for i in df.values:
        if i[0] == country :
            c += (i[3])
    data.append([country, c])
    
    
df_3 = pd.DataFrame(data,columns = ['country','total_vaccinations'])
df_3.sort_values(by='total_vaccinations',ascending = False).head(1)

    country  total_vaccinations
176   China        7.094527e+11