In [1]:
import pandas as pd

In [85]:
df = pd.read_csv('country_vaccinations.csv')
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

# describing the dataframe and getting the valueable information from it

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86512 entries, 0 to 86511
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              86512 non-null  object
 1   iso_code                             86512 non-null  object
 2   date                                 86512 non-null  object
 3   total_vaccinations                   43607 non-null  float64
 4   people_vaccinated                    41294 non-null  float64
 5   people_fully_vaccinated              38802 non-null  float64
 6   daily_vaccinations_raw               35362 non-null  float64
 7   daily_vaccinations                   86213 non-null  float64
 8   total_vaccinations_per_hundred       43607 non-null  float64
 9   people_vaccinated_per_hundred        41294 non-null  float64
 10  people_fully_vaccinated_per_hundred  38802 non-null  float64
 11  daily_vaccinations_per_million       86213 non-null  float64
 12  vaccines                             86512 non-null  object
 13  source_name                          86512 non-null  object
 14  source_website                       86512 non-null  object
dtypes: float64(9), object(6)
memory usage: 9.9+ MB

In [88]:
df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,4.360700e+04,4.129400e+04,3.880200e+04,3.536200e+04,8.621300e+04,43607.000000,41294.000000,38802.000000,86213.000000
mean,4.592964e+07,1.770508e+07,1.413830e+07,2.705996e+05,1.313055e+05,80.188543,40.927317,35.523243,3257.049157
std,2.246004e+08,7.078731e+07,5.713920e+07,1.212427e+06,7.682388e+05,67.913577,29.290759,28.376252,3934.312440
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,5.264100e+05,3.494642e+05,2.439622e+05,4.668000e+03,9.000000e+02,16.050000,11.370000,7.020000,636.000000
50%,3.590096e+06,2.187310e+06,1.722140e+06,2.530900e+04,7.343000e+03,67.520000,41.435000,31.750000,2050.000000
75%,1.701230e+07,9.152520e+06,7.559870e+06,1.234925e+05,4.409800e+04,132.735000,67.910000,62.080000,4682.000000
max,3.263129e+09,1.275541e+09,1.240777e+09,2.474100e+07,2.242429e+07,345.370000,124.760000,122.370000,117497.000000

#  checking the null values

In [90]:
df.isnull().sum()

country                                    0
iso_code                                   0
date                                       0
total_vaccinations                     42905
people_vaccinated                      45218
people_fully_vaccinated                47710
daily_vaccinations_raw                 51150
daily_vaccinations                       299
total_vaccinations_per_hundred         42905
people_vaccinated_per_hundred          45218
people_fully_vaccinated_per_hundred    47710
daily_vaccinations_per_million           299
vaccines                                   0
source_name                                0
source_website                             0
dtype: int64

# eliminating the null values by replacing with 0

In [92]:
df = df.fillna(0)
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [93]:
df.isnull().sum()

country                                0
iso_code                               0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
daily_vaccinations_per_million         0
vaccines                               0
source_name                            0
source_website                         0
dtype: int64

# data preprocessing 
## eliminating the non required column from the dataset

In [95]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [96]:
del df['source_website']
del df['source_name']
del df['vaccines']
del df['daily_vaccinations_per_million']
del df['people_fully_vaccinated_per_hundred']
del df['people_vaccinated_per_hundred']
del df['total_vaccinations_per_hundred']
del df['daily_vaccinations']
del df['people_fully_vaccinated']
del df['iso_code']
del df['daily_vaccinations_raw']
df.head()

       country        date  total_vaccinations  people_vaccinated
0  Afghanistan  2021-02-22                 0.0                0.0
1  Afghanistan  2021-02-23                 0.0                0.0
2  Afghanistan  2021-02-24                 0.0                0.0
3  Afghanistan  2021-02-25                 0.0                0.0
4  Afghanistan  2021-02-26                 0.0                0.0

# preproccessing the date column

In [98]:
year =[]
month =[]
Date =[]

for i in df.values:
    year.append(int(i[1].split('-')[0]))
    month.append(int(i[1].split('-')[1]))
    Date.append(int(i[1].split('-')[2]))
    
df['Date']  = Date
df['month'] = month
df['year']  = year

In [99]:
#  preproccessing month column
month ={
    1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',
    7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'
}
month_ = []
for i in df['month']:
    month_.append(month[i])
    
df['month'] = month_
df.head()

month_ =list(set(month_))

In [100]:
df.head()

,country,date,total_vaccinations,people_vaccinated,Date,month,year
0,Afghanistan,2021-02-22,0.0,0.0,22,Feb,2021
1,Afghanistan,2021-02-23,0.0,0.0,23,Feb,2021
2,Afghanistan,2021-02-24,0.0,0.0,24,Feb,2021
3,Afghanistan,2021-02-25,0.0,0.0,25,Feb,2021
4,Afghanistan,2021-02-26,0.0,0.0,26,Feb,2021

## pre- processing the total_vaccinations column

In [101]:
tot_vacc = []
for i in df['total_vaccinations']:
    tot_vacc.append(int(i))
    
df['total_vaccinations'] = tot_vacc

df.head()

,country,date,total_vaccinations,people_vaccinated,Date,month,year
0,Afghanistan,2021-02-22,0,0.0,22,Feb,2021
1,Afghanistan,2021-02-23,0,0.0,23,Feb,2021
2,Afghanistan,2021-02-24,0,0.0,24,Feb,2021
3,Afghanistan,2021-02-25,0,0.0,25,Feb,2021
4,Afghanistan,2021-02-26,0,0.0,26,Feb,2021

## pre- processing the people_vaccinated column

In [102]:
ppl_vacc = []
for i in df['people_vaccinated']:
    ppl_vacc.append(int(i))
    
df['people_vaccinated'] = ppl_vacc

df.head()

,country,date,total_vaccinations,people_vaccinated,Date,month,year
0,Afghanistan,2021-02-22,0,0,22,Feb,2021
1,Afghanistan,2021-02-23,0,0,23,Feb,2021
2,Afghanistan,2021-02-24,0,0,24,Feb,2021
3,Afghanistan,2021-02-25,0,0,25,Feb,2021
4,Afghanistan,2021-02-26,0,0,26,Feb,2021

# Q1.Find Monthly number of total vaccination from Jan to Dec in 2021

In [108]:
data = []

for month in month_:
    c = 0
    for i in df.values:
        if (i[6] == 2021) and (i[5] == month):
            c += i[2]
    data.append([month,c])
    
monthly_vaccinated = pd.DataFrame(data,columns =['Month','total_vaccinated'])
monthly_vaccinated

   Month  total_vaccinated
0    Jan        1368363247
1    Feb        4511692243
2    Nov      208464393532
3    Sep      165202298502
4    Dec      237472470374
5    May       46939663406
6    Oct      190039710952
7    Apr       26638153919
8    Aug      141091163032
9    Jul      108476702477
10   Jun       75009721988
11   Mar       12370498506